#about>.inner>.grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;

    .text {
        color: $title-2-color;
        font-family: $normal-text-font;
        font-size: clamp(14px, 5vw, 18px);
        font-weight: 400;

        p {
            text-align: justify;
            margin: 0 0 15px 0;
        }

        .skill-list {
            display: grid;
            list-style: none;
            width: min-content;
            grid-template-columns: auto auto;
            column-gap: 40px;
            padding: 0;

            li {
                text-wrap: nowrap;
                font-size: 20px;

                &::before {
                    content: '▹ ';
                    color: $main-color;
                    position: relative;
                    bottom: 2px;
                    font-size: clamp(14px, 5vw, 18px);
                }
            }
        }
    }

    .img {
        position: relative;
        height: min-content;
        overflow: hidden;
        border-radius: 10px;
        max-width: 300px;
    }
}

@media screen and (max-width: 767px) {
    #about>.inner>.grid {
        display: contents;

        .img {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 426px) {
    #about>.inner>.grid>.text>.skill-list {
        column-gap: 20px;

        li {
            font-size: 18px;
        }
    }
}