.about>div>.grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;

    div {
        color: $title-2-color;
        font-family: $font-family-normal-text;
        font-size: $font-size-small-text;
        font-weight: 400;

        p {
            text-align: justify;
            margin: 0 0 15px;
        }

        ul {
            display: grid;
            list-style: none;
            width: min-content;
            grid-template-columns: auto auto;
            column-gap: 40px;
            padding: 0;

            li {
                text-wrap: nowrap;

                &::before {
                    content: '▹ ';
                    color: $main-color;
                    font-size: $font-size-small-text;
                    position: relative;
                    bottom: 2px;
                }
            }
        }
    }

    .profile-pic {
        position: relative;
        height: min-content;
        overflow: hidden;
        border-radius: 10px;
        max-width: 300px;
    }
}

@media screen and (max-width: 767px) {
    #about>div>.grid {
        display: contents;

        .profile-pic {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@media screen and (max-width: 426px) {
    #about>div>.grid>div>ul {
        column-gap: 20px;
    }
}