.animated-logo .container-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);

    &.disappeared {
        transform-origin: center center;
        transform: scale(0.5) translate(-100%, -100%);
        opacity: 0;
        transition: 0.2s;
    }

    .line {
        transition: height 1s ease-in-out;
        height: 0;

        &.active {
            height: 100%;
        }
    }

    .lateral {
        opacity: 0;

        &.active {
            opacity: 1;
            transition: 1s;
        }
    }
}