@import 'NavBar';

$bottom-margin: 10px;
$big-text-font-size: clamp(30px, 7.5vw, 60px);
$small-text-font-size: clamp(14px, 18px, 18px);

.home {
    min-height: calc(100vh - $navbar-height-on-top);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 5vw 0 5vw;
    padding-top: $navbar-height-on-top;

    .main-text {
        position: relative;
        top: -15vh;

        .top-subtitle {
            color: $main-color;
            font-size: $small-text-font-size;
            margin: 0 0 $bottom-margin 0;
            font-weight: normal;
        }

        .name {
            color: $title-1-color;
            font-family: $normal-text-font;
            margin: 0 0 $bottom-margin 0;
        }

        .title {
            color: $title-2-color;
            font-family: $normal-text-font;
            margin: 0 0 calc($bottom-margin * 2) 0;
        }

        .big-text {
            font-size: $big-text-font-size;
            line-height: $big-text-font-size;
        }

        .bottom-subtitle {
            color: $title-2-color;
            font-family: $normal-text-font;
            font-size: $small-text-font-size;
        }
    }
}