@import 'NavBar';

$bottom-margin: 10px;
$big-text-font-size: clamp(30px, 7.5vw, 60px);
$small-text-font-size: clamp(14px, 18px, 18px);
$font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;

.home {
    height: calc(100vh - $navbar-height-on-top);
    display: flex;
    justify-content: center;
    flex-direction: column;

    .main-text {
        position: relative;
        top: -15%;

        .top-subtitle {
            color: $main-color;
            font-size: $small-text-font-size;
            margin: 0 0 $bottom-margin 0;
            font-weight: normal;
        }

        .name {
            color: $title-1-color;
            font-family: $font-family;
            margin: 0 0 $bottom-margin 0;
        }

        .title {
            color: $title-2-color;
            font-family: $font-family;
            margin: 0 0 calc($bottom-margin * 2) 0;
        }

        .big-text {
            font-size: $big-text-font-size;
            line-height: $big-text-font-size;
        }

        .bottom-subtitle {
            color: $title-2-color;
            font-family: $font-family;
            font-size: $small-text-font-size;
        }
    }
}