$content-lateral-padding: 150px;
$content-lateral-padding-1024: calc($content-lateral-padding / 2);
$content-lateral-padding-425: calc($content-lateral-padding / 4);

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: $background-color;
    font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    margin: 0;

    a {
        text-decoration: none;
    }

    .content {
        padding: 0 $content-lateral-padding 0 $content-lateral-padding;
    }
}

@media screen and (max-width: 1024px) {
    body .content {
        padding: 0 $content-lateral-padding-1024 0 $content-lateral-padding-1024;
    }
}

@media screen and (max-width: 425px) {
    body .content {
        padding: 0 $content-lateral-padding-425 0 $content-lateral-padding-425;
    }
}