$content-lateral-padding: 150px;
$content-lateral-padding-1024: calc($content-lateral-padding / 2);
$content-lateral-padding-425: calc($content-lateral-padding / 4);
$content-lateral-margin-4k: calc((100vw - 1440px)/2);

$link-transition: 0.1s;

::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: $selection-background-color;
    color: $selection-text-color;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: $background-color;
    font-family: $font-family-code;
    margin: 0;

    a {
        color: $main-color;
        transition: $link-transition;
        text-decoration: none;
        border-bottom: solid 2px rgba(red($main-color), green($main-color), blue($main-color), 0);
        font-weight: 500;

        &.link-text:hover {
            transition: $link-transition;
            border-color: rgba(red($main-color), green($main-color), blue($main-color), 1);
        }
    }

    .content {
        margin: 0 $content-lateral-margin-4k;
        padding: 0 $content-lateral-padding;
        counter-reset: section-title-counter 0;
    }
}

@media screen and (max-width: 1440px) {
    body .content {
        margin: 0;
    }
}

@media screen and (max-width: 1024px) {
    body .content {
        padding: 0 $content-lateral-padding-1024;
    }
}

@media screen and (max-width: 425px) {
    body .content {
        padding: 0 $content-lateral-padding-425;
    }
}

@media screen and (max-width: 300px) {
    body {
        opacity: 0;
        transition: 0.2s;
    }
}