$container-z-index: 10;

body.loading-screen {
    overflow-y: hidden;

    .layout {
        display: none;
    }

    #container-loading-screen {
        z-index: $container-z-index;
        overflow: hidden;

        &.remove {
            display: none;
        }

        .container-logo {
            z-index: calc($container-z-index + 1);
        }
    }
}