$font-size: 150px;

.container-logo {
    color: $main-color;
    font-size: $font-size;
    user-select: none;
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: min-content;
    grid-template-columns: repeat(3, auto);
    font-weight: 700;

    &.major {
        text-align: right;
    }

    .central {
        width: calc($font-size / 5 * 2);
        height: 80%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        .line {
            background-color: $main-color;
            width: calc($font-size / 9);
            border-radius: calc($font-size / 30);
            position: relative;
            height: 90%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(20deg);
        }
    }
}