@use 'LogoVars';


.logo {
    width: 217px;

    .container-logo {
        height: LogoVars.$size;
        color: $logo-color;
        width: calc(LogoVars.$size * 2);
        user-select: none;
        transform: translateX(-25px);

        .line {
            background-color: $logo-color;
            height: LogoVars.$line-height;
            width: LogoVars.$size;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-70deg);
        }

        .minor,
        .major {
            font-size: LogoVars.$size;
            height: 0;
            position: relative;
            top: 50%;
            font-weight: 700;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .minor {
            transform: translate(LogoVars.$minor-x-translation, LogoVars.$symbols-y-translation);
        }

        .major {
            transform: translate(LogoVars.$major-x-translation, LogoVars.$symbols-y-translation);
        }
    }
}