ol {
    a {
        color: $secondary-color;
        font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
        padding: 20px;
        display: inline-block;
        transition: 0.2s;

        li {
            display: inline;
        }
    }

    a::before {
        color: $logo-color;
        content: '0' counter(link-counter)'.';
        counter-increment: link-counter;
        margin-right: 5px;
    }

    a:hover {
        color: $logo-color;
        transition: 0.2s;
    }
}