$spacing: 7px;
$transition: 0.2s;

.navbar-link-element {
    display: inline;

    a {
        color: $link-color;
        padding: $spacing;
        margin: $spacing;
        transition: $transition;
        display: inline-block;
        border: none;

        &::before {
            color: $main-color;
            content: '0' counter(link-counter)'.';
            counter-increment: link-counter;
            margin-right: 5px;
        }

        &:hover {
            color: $main-color;
            transition: $transition;
            border: none;
        }
    }
}