$navbar-height: 100px;
$navebar-lateral-padding: calc($navbar-height / 2);

header {
    position: fixed;
    width: 100%;
    transition: 0.5s;
    
    .navbar {
        height: $navbar-height;
        padding: 0 $navebar-lateral-padding 0 $navebar-lateral-padding;
        display: flex;
        justify-content: space-between;
        backdrop-filter: blur(10px);

        a {
            text-decoration: none;
            height: min-content;
        }

        #logo-link {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        ol {
            counter-reset: link-counter 0;
            padding-inline-start: 0;
            margin: 0;
            height: min-content;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}