@import './NavBar.module.scss';

$section-padding-bottom: 5vh;

section {
    min-height: calc(100vh - $section-padding-bottom - $navbar-height);
    padding: $navbar-height 1vw $section-padding-bottom;
    margin: 0 5vw;

    >div>.section-title {
        color: $title-1-color;
        font-size: $font-size-section-title;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-weight: 600;
        padding: 10px 0px 40px;
        margin: 0;

        &::before {
            color: $main-color;
            font-size: $font-size-section-title-counter;
            counter-increment: section-title-counter;
            content: '0' counter(section-title-counter)'.';
            font-weight: normal;
            margin-right: 10px;
        }

        &::after {
            background-color: $title-1-color;
            content: '';
            display: block;
            filter: brightness(0.45);
            margin-left: 20px;
            width: 300px;
            height: 0.5px;
        }
    }
}

@media screen and (max-width: 769px) {
    section {
        margin: 0;

        >div>.section-title::after {
            width: 200px;
        }
    }
}