@import './NavBar.module.scss';

$section-padding-bottom: 5vh;

@mixin title-line {
    background-color: $title-1-color;
    content: '';
    display: block;
    filter: brightness(0.45);
    width: 300px;
    height: 0.5px;
}

section {
    min-height: calc(100vh - $section-padding-bottom - $navbar-height);
    padding: $navbar-height 1vw $section-padding-bottom;
    margin: 0 5vw;

    >div {
        .central-section-subtitle {
            color: $main-color;
            text-align: center;

            &::before {
                counter-increment: section-title-counter;
                content: '0' counter(section-title-counter)'. ';
                font-weight: normal;
            }
        }

        .section-title {
            color: $title-1-color;
            font-size: $font-size-section-title;
            display: flex;
            align-items: center;
            white-space: nowrap;
            font-weight: 600;
            padding: 10px 0px 40px;
            margin: 0;

            &[central='true'] {
                width: min-content;
                position: relative;
                left: 50%;
                transform: translateX(-50%);

                &::before {
                    @include title-line;
                    margin-right: 20px;
                }
            }

            &[central='false']::before {
                color: $main-color;
                font-size: $font-size-section-title-counter;
                counter-increment: section-title-counter;
                content: '0' counter(section-title-counter)'.';
                font-weight: normal;
                margin-right: 10px;
            }

            &::after {
                @include title-line;
                margin-left: 20px;
            }
        }
    }
}

@media screen and (max-width: 1210px) {
    section>div>.section-title[central='true'] {

        &::before,
        &::after {
            max-width: 200px;
        }
    }
}

@media screen and (max-width: 769px) {
    section {
        margin: 0;

        >div>.section-title {
            &[central='false']::after {
                width: 200px;
            }

            &[central='true'] {

                &::before,
                &::after {
                    max-width: 100px;
                }
            }
        }
    }
}

@media screen and (max-width: 475px) {
    section>div>.section-title[central='true'] {

        &::before,
        &::after {
            max-width: 50px;
        }
    }
}