@import 'Layout';

$x-position: calc($content-lateral-padding / 5 * 2);
$content-spacing-value: 10px;
$content-spacing: $content-spacing-value 0 $content-spacing-value 0;

.sider {
    position: fixed;
    bottom: 0;
    width: 25px;
    filter: brightness(0.8);

    &.left {
        left: $x-position;
    }

    &.right {
        right: $x-position;
    }

    .sider-content-icons {
        padding: $content-spacing;
        display: flex;
        flex-direction: column;

        a {
            margin: $content-spacing;

            svg {
                color: $secondary-color;
            }
        }
    }

    .line {
        background-color: $secondary-color;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 90px;
        width: 0.7mm;
    }
}