@use 'Colors';

#loading-screen {
    background-color: Colors.$portfolio-bg-color;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99;
}

#loading-screen.active {
    transition: 0.1s;
    opacity: 0;
}