#loading-screen {
    background-color: $loading-screen-bg-color;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99;
    overflow: hidden;
}

#loading-screen.active {
    transition: 0.1s;
    opacity: 0;
}