@use 'LogoVars';

.container-logo {
    .line {
        transition: width 1s ease-in-out;
        width: 0;
    }

    .line.active {
        width: LogoVars.$size;
    }

    .minor,
    .major {
        opacity: 0;
    }

    .minor.active,
    .major.active {
        opacity: 1;
        transition: 1s;
    }
}

.container-logo.disappeared {
    transform: scale(0.5) translate(-100%, -100%);
    transform-origin: center center;
    opacity: 0;
    transition: 0.2s;
}