@use "Colors";

$logo-size: 130px;
$line-height: calc($logo-size / 10);

.container-logo {
    height: $logo-size;
    color: Colors.$logo-color;
    width: calc($logo-size * 2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;

    .line {
        background-color: Colors.$logo-color;
        height: $line-height;
        width: $logo-size;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-70deg);
        transition: width 1s ease-in-out;
    }

    .minor,
    .major {
        font-size: $logo-size;
        height: 0;
        position: relative;
        top: 50%;
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .minor {
        transform: translate(20px, calc($logo-size / (-2) - $line-height));
    }

    .major {
        transform: translate(170px, calc($logo-size / (-2) - $line-height));
    }
}